.bar_nav ul,
.side_nav ul,
.bar_nav ul ul,
.side_nav ul ul{
	border: 1px solid #b7c8d7;
	-moz-box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0 inset,#e3ebf5 1px 0 0 0 inset;
	-webkit-box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0 inset,#e3ebf5 1px 0 0 0 inset;
	-o-box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0 inset,#e3ebf5 1px 0 0 0 inset;
	box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0;
}

.bar_nav ul li a,
.side_nav ul li a{
	color: #000;
	text-shadow: 0px 1px 0px #fff;
}

.bar_nav > ul > li > a{
	border-width: 0;
}

.bar_nav > ul > li:hover > a{
	border-top-color: transparent;
	border-bottom-color: #063469;
	border-right-color: #063469;
	border-left-color: #063469;
}	

.side_nav ul li:hover > a,
.bar_nav ul li ul li:hover > a,
ul li.openable.active > a{
	border: 1px solid #81a4d0;
	background-color: #F7B139 !important;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#dbeeff),color- stop(48%,#d0e7ff),color-stop(52%,#bbd2f0),color-stop(100%,#bed6f5)) !important;
	background-image: -webkit-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5) !important;
	background-image: -moz-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5) !important;
	background-image: -o-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5) !important;
	background-image: -ms-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5) !important;
	background-image: linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5) !important;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding-top: 1px;
}

.mega_menu{
	color: #34455a;
	border-color: #063469;
	background-color: #fff;
}

li.openable.active > a{
	color:#fff;
	border-top: 1px solid #888;
	border-bottom: 1px solid #666;
	}


li.openable div.accordion a{
	background: url(../../../images/menu/nav_bullet.png) 15px no-repeat;
	}

a.minimize,
.side_nav a.minimize{
	background-color: #d0def0;
	
	border: 1px solid #b7c8d7;
	-moz-box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0 inset,#e3ebf5 1px 0 0 0 inset;
	-webkit-box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0 inset,#e3ebf5 1px 0 0 0 inset;
	-o-box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0 inset,#e3ebf5 1px 0 0 0 inset;
	box-shadow: #e3ebf5 0 1px 0 0 inset,#e3ebf5 0 -1px 0 0 inset,#e3ebf5 -1px 0 0 0;
}

#side_nav ul li.openable div.accordion a{
	background: url(../../../images/menu/nav_bullet.png) 20px no-repeat;
	}

#side_nav ul li ul li.openable div.accordion a{
	background: url(../../../images/menu/nav_bullet.png) 6px no-repeat;
	}



li span.icon,
li a span.icon{
	background: url(../../../images/menu/nav_right.png) no-repeat;
	position: absolute;
	right:5px;
	width: 12px;
	top:11px;
	display: block;
	cursor: pointer;
}

li span.left.icon{
	background: url(../../../images/menu/nav_left.png) no-repeat;
}
li.openable span.icon,
#side_nav ul li.toggle span.icon{
	background: url(../../../images/menu/nav_plus.png) no-repeat;
}
li.openable.active span.icon,
li.openable.active span.icon{
	background: url(../../../images/menu/nav_minus.png) no-repeat;
}
.nav_down > ul > li > a > span.icon,
.nav_down li.has_mega_menu span.icon{
	background: url(../../../images/menu/nav_down.png) no-repeat;
}
.nav_up > ul > li > a > span.icon,
.nav_up li.has_mega_menu span.icon{
	background: url(../../../images/menu/nav_up.png) no-repeat;
}
	
.grad_blue,
.bar_nav ul a,
.side_nav ul a,
.bar_nav ul,
.side_nav ul{
	background: #FFC751; /* old browsers */
	background: -moz-linear-gradient(top, #d0def0 0%, #C6D4E6 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0def0), color-stop(100%,#C6D4E6)); /* webkit */ 
}

.grad_blue:hover,
.bar_nav ul li:hover > a,
.side_nav ul li:hover > a,
ul li.openable.active > a{	
	border: 1px solid #81a4d0;
	background-color: #F7B139;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#dbeeff),color-
	stop(48%,#d0e7ff),color-stop(52%,#bbd2f0),color-stop(100%,#bed6f5));
	background-image: -webkit-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
	background-image: -moz-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
	background-image: -o-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
	background-image: -ms-linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);
	background-image: linear-gradient(top,#dbeeff,#d0e7ff 48%,#bbd2f0 52%,#bed6f5);*/
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	
	margin-top: 1px;
	margin-right: 1px;
	height: 26px;
	line-height: 26px;
	padding: 0 19px;
	padding-right: 18px;
}